p{
    color: rgb(212, 31, 31);
    /* border: 4px dotted red; */
    border-style:dotted ;
    border-color:rgb(red, green, blue);
    border-left-style:solid; 
    border-radius: 15px;
    
}

#para1 {
    color: rgb(17, 219, 27);
}
.colortext{
    color: rgb(0, 0, 255);
}
.main-page{
    background-color:aqua;
}
h1{
    background-color: rgb(67, 6, 235);
}
body{
    background-image: url(/background.avif);
    background-repeat:no-repeat;
    background-position: top right;
    background-attachment: fixed;
}
.text{
    border: 5px solid #b14bff;
}